name: Using Actions

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: react-app

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: List files in working directory
        run: ls -la
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.x   # or 22.x if your project supports it

      - name: Install dependencies
        run: npm ci
      - name: Run unit tests
        run: npm run test
